* {
  box-sizing: border-box;
}

body {
  background-color: #ccc;
}

input,
textarea {
  border-radius: 0.4em;
  text-indent: 0.5em;
  padding: 0.8em 1em;
  margin: 1em;
}

input[type='checkbox'],
input[type='radio'] {
  margin-right: 0.75em;
}

button {
  display: block;
  margin-top: 1em;
}
